/* this line is a comment */
body{
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%vh;
}

.body {
    border: none;
    border-radius: 17px;
    background-color: hsl(0, 1%, 14%);
    width: 285px;
    max-width: 500px;
    overflow: hidden;
    height: 450px;
    display: grid;
}

input {
    margin: auto;
    width: 100%;
    padding: 20px;
    height: 70px;
    border: none;
    color: white;
    background-color: hsl(0, 0%, 20%);
    font-size: 5rem;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    gap: 2px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: none;
    margin: 2px;
    cursor: pointer;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 0%, 50%);
}

#numbers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

#sym {
    background-color: hsl(41, 100%, 55%);
}

#sym:hover {
    background-color: hsl(41, 100%, 65%);
}

#sym:active {
    background-color: hsl(41, 100%, 75%);
}